.label-model {
    margin-top: auto;
}

.modal-input:disabled {
    border: none;
    background-color: #ffffff;
    opacity: 1;
}

.modal-input {
    font-weight: 500;
    font-size: 14px;
}

.qr-container {
    border: 0.5px solid #eef0f3;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qr-container img {
    width: 200px;
    height: 200px;
}

.transaction-detail-modal-header {
    background-color: #3860b2;
}

.modal-transaction-payment-notification {
    display: flex;
}

.modal-transaction-payment-notification>p {
    margin: 0;
}

.modal-transaction-payment-button {
    text-align: right;
}

.transaction-modal-form-group {
    margin: 0;
    font-size: 14px;
}

.transaction-modal-form-group>div>select {
    font-size: 14px;
}

.transaction-modal-form-group>div>input {
    font-size: 14px;
}

.transaction-modal-form-group>div>textarea {
    font-size: 14px;
}

.btn-search-transaction {
    margin-left: 15px;
    font-size: 14px;
}

.pagination {
    font-size: 14px;
}

.boder-bottom-solid {
    border-bottom: 0.5px solid #e1e3e6;
}