@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h5 {
    font-family: 'Quicksand', sans-serif;
}

.label-model {
    margin-top: 0;
}

.modal-input:disabled {
    border: none;
    background-color: #ffffff;
    opacity: 1;
}

.modal-input {
    font-weight: 500;
    font-size: 14px;
}

.qr-container {
    /* border: 0.5px solid #eef0f3; */
    margin-bottom: 15px;
    /* width: 300px;
    height: 350px; */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qr-container img {
    width: 175px;
    height: 250px;
}

.transaction-detail-modal-header {
    padding: 10px !important;
    background-color: #0B3F7E;
    color: white;
}

.modal-transaction-payment-notification {
    align-items: center;
    display: flex;
}

.modal-transaction-payment-notification>p {
    font-size: 14px;
    margin: 0;
}

.modal-transaction-payment-notification>span {
    padding-right: 5px;
}

.modal-transaction-payment-button {
    text-align: right;
}

.transaction-modal-form-group {
    margin: 0;
    font-size: 14px;
}

.transaction-modal-form-group>div>select {
    font-size: 14px;
}

.transaction-modal-form-group>div>input {
    font-size: 14px;
}

.transaction-modal-form-group>div>textarea {
    font-size: 14px;
}

.btn-search-transaction {
    margin-left: 15px;
    font-size: 14px;
}

.pagination {
    font-size: 14px;
}

.boder-bottom-solid {
    border-bottom: 0.5px solid #e1e3e6;
}