label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 0.25rem !important;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

th.cell-mc {
  text-align: center;
  vertical-align: middle;
}

th.cell-ml {
  text-align: left;
  vertical-align: middle;
}

th.cell-mr {
  text-align: right;
  vertical-align: middle;
}

.input-group-addon {
  background-color: #ccc;
  padding: 5px;
  width: 20%;
  float: left;
}

div.overlay-custom-class-name {
  z-index: 10000;
}

ul>li>a {
  color: black;
}